:root {
  --globalBackground: radial-gradient(100% 100% at 50% 0%, rgba(130, 71, 229, 0.2) 0%, rgba(200, 168, 255, 0.05) 52.6%, rgba(0, 0, 0, 0) 100%), rgb(255, 255, 255);
}

body {
  margin: 0;
}

.full-page-center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-statistic .ant-statistic-content {
  font-size: 14px;
  color: #4096ff;
}

.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: unset;
  z-index: -1;
  background: var(--globalBackground);
}